:root{
  --bgc:#ffffff; /*background*/
  --head:#4267b2; /*color header*/
  --bsd:#e9ebee; /*beside*/
  /**--img1:url("../md/diagmonds.png");/*imagen header*/
  --texto:black;
  --i:black;
  --active:#0037ffd1;

/* #ea8b04 */
}
/***, *:before, *:after {
  box-sizing: inherit;
}**/
body{
  font-family: 'Poppins', sans-serif;
  background: var(--bgc) no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
 background-attachment: fixed;
  height: 100%;
  margin: 0;
  color:var(--texto);
}
.active{
  color: var(--active);
}
i.icon-trash-o{
  color:red;
}
.hide{
  display: none;
}
i{
  color:var(--i);
}
/*header Barra Principal*/
header{
  position: fixed;
  /**background:var(--img1);**/
  width: 100%;/**Barra principal**/
  height: 10vh;
  background-color: var(--head);
  font-size: 25px;
  color: white;
  z-index: 2;
}
nav.session{
  list-style:none;
  display: flex;
  margin: 2 20%;
  justify-content: space-between;
  padding-top: 10px;
}

header:after{
  content: '';
 /*border-bottom: 3px solid var(--texto);**/
   margin: 0 auto;
  height: 2px;
  width: 80%;
  display: block;
}
nav.session a{
  color: white;
  text-decoration: none;
}

/*header*/
h2{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem!important;
}
/* h2::after{
  content: '';
  border-bottom: 1px solid black;
  height: 5px;
  width: 200px;
  display: block;
  font-family: 'Rubik', sans-serif;
} */
/***barra principal login**/
h1{
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 1.5em;
  text-align: center;
}
/**login**/
.contenedor{
  height: 100vh;
  /**background-image: url('../md/boni.jpg');**/
  display: flex;
  background-size: cover;
  background-position: center center;
  align-items: center;
  justify-content: center;
}
.contform{
  margin-top: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 300px;
  /** height: 90px;
  opacity: .8;
  padding: 10px 60px 60px 60px;
  border-radius: 15px;
  border-color: 3px solid white; */
}
.contform img{
  width: 100%;
}
.login-form{
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  grid-gap: 10px;
  max-width: 300px;
 background-color: var(--bsd);
  padding: 20px;
  border-radius: 10px;
}

/**img {
  width:100%;
}**/



.submit{
  text-transform: uppercase;
  background-color: black;
  border: none;
  border-radius: 5px;
  color: white;
}
.submit:hover{
  transition: .5s;
  color: blue;
}
/**/
section{
  padding: 10vh 10vh 0;
  max-width: 80%;
  margin: 0 auto;
}
/*barra menu - beside*/
.beside {
  position: fixed;
  left: 0px;
  top: 10vh;
  width: 10%;
  height: 100vh;
  background: var(--bsd);
  /**border-top-right-radius: 10px;**/
  overflow-y: hidden;
}
nav.navbar{
  padding: 0!important;
}
.navbar .list-navbar {
  list-style: none;
}
.list-navbar li{
  padding: 15px;
  /* display: inline-block; */
}
.list-navbar li i{
  margin-right: 10px;
}
.list-navbar li a {
  color:var(--i);
  text-decoration: none;
}
.list-navbar > li > a{
  font-weight: 700;
  text-decoration: none;
  font-size: 18px;
}
.list-navbar > .inv > ul{
  list-style:none;
  font-size: 20px;
  padding-left: 30px;
}
.beside ul{
  margin-top: 0;
  padding: 0;
}
.beside li:hover{
  background-color: var(--texto);
}
.beside li:hover a{
  color: var(--bsd);
}
.beside li:hover i{
  color: var(--bsd);
}
/*barra menu - beside*/
/*notes*/
/**.notes{
  position: fixed;
  text-align: center;
  right: 0px;
  top: 10vh;
  width: 10%;
  height: 40px;
  background: var(--bsd);
  border-radius: 10px;
  transition: height 1s;
  overflow: hidden;
}
.notes h3{
  position: sticky;
  margin: 10;
}
.notes:hover{
  height: 100%;
}**/
/**.stick{
  margin-bottom: 5px;
  border: 1px solid gray;
  border-radius: 10px;
}
.stick h4, p{
  margin: 0;
}
/*notes*/
/*panel-display*/
/**.buscador{
  margin: 0 auto;
}**/
/**.respuesta{
  margin: 0 auto;
  text-align: center;
  display: flex;
}

/*panel-display*/
/**table{
  margin: 0 auto;
  text-align: center;
  width: 80%;
}**/
/**thead{
  background-color: var(--bsd);
}
thead tr td{
  color: var(--text);
}
td{
  padding: 10px;
  border: 1px solid black;
  color: var(--i);
}**/
/*bttons inputs*/
/**input, textarea{
  border: 1px solid gray;
  background: var(--bsd);
  color: var(--i);

  padding: 10px;
  border-radius: 5px;
}
input[type=submit]:hover{
  background-color: var(--head);
}
textarea{
  resize: none;
  height: 10em;
  width: 33em;
}
button{
  color: var(--texto);
  border: none;
  cursor: pointer;
  background-color: var(--bsd);
}
input[type='button']{
  color: var(--texto);
}**/
select{
  /** border-radius: 10px;**/
   border: none;
   background: var(--bsd);
   color: var(--i);
   padding: 10px;
   border-radius: 5px;
}
option{
   /**border-radius: 10px;**/
   border: none;
   background: var(--bsd);
   color: var(--i);
  }
.intro{
  border: 1px solid gray
}
.error{
  border: 1px solid red;
  box-shadow: 0px 0px 5px red;
}
/*Form from index*/
/*Mostrar reportes*/
.reporte{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background-color: var(--bsd);
  color: var(--i);
  border-radius: 10px;
  margin-bottom: 15px;
}
.atnh{
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  margin-bottom: 10px;
}
.atn2{
  display: flex;
  flex-direction: column;
  flex: 2;
  padding: 10px;
}
.atn3{
  display: flex;
  flex: 2;
  padding: 10px;
}
.atn4{
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
  padding: 10px;
}
.atn4 button{
  border: 1px solid gray;
  padding: 5px;
}
/*Mostrar reportes*/
/*edicion*/
.datosr{
  display: grid;
  grid-area: dr;
  padding: 20px;
  border: 1px solid gray;
}
.datosu{
  display: grid;
  grid-area: du;
  padding: 20px;
  border: 1px solid gray;
}
.admin{
  display: none
}
.de{
  display: grid;
  grid-area: de;
  border: 1px solid gray;
  padding: 20px;
}
.ac{
  display: grid;
  grid-area: ac;
  border: 1px solid gray;
  padding: 20px;
}
.fm{
  border: 1px solid gray;
}
.cs{
  display: grid;
  grid-area: cs;
  padding: 20px;
  border: 1px solid gray;
}
.cl{
  display: grid;
  grid-area: cl;
  padding: 20px;
  border: 1px solid gray;
}
.st{
  border: 1px solid gray;
}
.btn{
  grid-area: bt;
  padding: 10px;
}
.edicion{
  max-width: 100%;
  border-radius: 10px;
  display: grid;
  grid-template-areas: 'dr du'
                       'dr de'
                       'ac fm'
                       'cs cl'
                       'bt bt'        ;
  grid-template-columns: repeat(2, 1fr);
  color: var(--i)
}
.edicion span, label{
 font-family: 'Rubik', sans-serif;
  font-weight: 600;
  color: var(--texto);
}
legend{
  width: auto;
}
/*historial*/
.paginacion{
  display: flex;
  list-style: none;
  width: 100%;
}
.paginacion li{
  cursor: pointer;
}
.historial span{
  font-weight: bold;
  margin-top: 10px;
}
/*historial*/
.eq{
  grid-area: eq;
}
.cp{
 grid-area: cp;
}
.b{
  grid-area: b;
}
.m{
  grid-area: m;
}
.mn{
  grid-area: mn;
}
.t{
  grid-area: t;
}
.nb{
  grid-area: nb;
}
.c{
  grid-area: c;
}
.tarjeta{
  text-align: center;
  color: var(--i);
  padding: 20px;
  display: grid;
  grid-template-areas: 'eq eq'
                       'cp mn'
                       'm b'
                       't nb'
                       'c  c'
}
.tarjeta legend{
  color: var(--texto);
}
input[type='checkbox']{
}
fieldset:disabled label{
  color: gray;
}
/**/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 20;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 2;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: var(--active);
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
/*inventario*/
/*tarjetas*/
.tardir{
  background-color: var(--bsd);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  text-align: center;
}
.direccion{
  flex-basis: 100%;
  cursor: pointer;
}
.area{
  padding: 10px;
  flex: 1;
  margin: 10px;
  border: 1px solid gray;
}
.encargado{
  color: var(--i);
}
.personal{
  color: var(--i);
  /**border: 1px solid gray;**/
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  text-align: center;
}
.personal span{
  margin-bottom: 5px;
  /**border-bottom: 1px solid gray;**/
  flex-basis: 50%;
}
.personal span:nth-last-child(-n+2){
  margin-bottom: 0px;
  border-bottom: none;
  flex-basis: 50%;
}

/*tarjetas*/

/*firma*/
.calificacion{
  padding: 20px;
}
canvas {
  display: block;
  margin: 20px auto;
  border-radius: 3px;
  box-shadow: 0px 0px 15px 3px #ccc;
  cursor:crosshair;
}
/*form-control*/
